@using Enterprise.Security.Client.Shared
@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
       @* 👇 Esta es la barra superior donde pondremos el Login/Logout *@
        <div class="top-row px-4">
            <LoginDisplay /> 
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
